<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Страница в разработке</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="author" content="SoonLaunch">
		<link rel="shortcut icon" type="image/x-icon" href="<%= getVersionedPath('img/favicon.png') %>">
		<link rel="stylesheet" href="<%= getVersionedPath('styles/bootstrap-4.5.0.min.css') %>">
        <link rel="stylesheet" href="<%= getVersionedPath('styles/lineicons.css') %>">
		<link rel="stylesheet" href="<%= getVersionedPath('styles/animate.css') %>">
		<link rel="stylesheet" href="<%= getVersionedPath('styles/style.css') %>">
    </head>
    <body>
        <main class="main-14">
            <div class="main-wrapper demo-14">
                <img src="<%= getVersionedPath('img/shape-1.svg') %>" alt="" class="shape shape-1">
                <img src="<%= getVersionedPath('img/shape-2.svg') %>" alt="" class="shape shape-2">
                <img src="<%= getVersionedPath('img/shape-3.svg') %>" alt="" class="shape shape-3">
                <img src="<%= getVersionedPath('img/shape-4.svg') %>" alt="" class="shape shape-4">
                <img src="<%= getVersionedPath('img/shape-5.svg') %>" alt="" class="shape shape-5">
                <img src="<%= getVersionedPath('img/shape-6.svg') %>" alt="" class="shape shape-6">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-5 col-lg-6 col-md-6">
                            <div class="img-wrapper wow fadeInLeft" data-wow-delay=".2s">
                                <img src="<%= getVersionedPath('img/img-1.svg') %>" alt="">
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-6 col-md-6 odd-col">
                            <div class="content-wrapper">
                                <h1 class="wow fadeInDown" data-wow-delay=".2s">Страница в разработке</h1>
                                <!-- <p class="wow fadeInUp" data-wow-delay=".4s">The and greater, all hasn't revisit general up by her The soon my himself including it those
                                    from everything you necessary will didn't little.</p> -->
        
                                <!-- <div class="wow fadeInLeft" data-wow-delay=".2s" data-countdown="2025/08/14"></div> -->
                            </div>
                        </div>
                    </div>
            </div>
        </main>
		<script src="<%= getVersionedPath('scripts/vendor/modernizr-3.5.0.min.js') %>"></script>
		<script src="<%= getVersionedPath('scripts/vendor/jquery-3.5.1.min.js') %>"></script>
		<script src="<%= getVersionedPath('scripts/popper.min.js') %>"></script>
		<script src="<%= getVersionedPath('scripts/bootstrap-4.5.0.min.js') %>"></script>
        <script src="<%= getVersionedPath('scripts/countdown.js') %>"></script>
        <script src="<%= getVersionedPath('scripts/wow.min.js') %>"></script>
		<script src="<%= getVersionedPath('scripts/main.js') %>"></script>
    </body>
</html>
