
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= fontName %> - Google Fonts Clone</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1><%= fontName %></h1>
    <p>Preview text</p>
    <ul>
        <% Object.keys(font).forEach(weight => { %>
            <li><%= weight %>: <a href="/selection?font=<%= fontName %>&weight=<%= weight %>">Select</a></li>
        <% }) %>
    </ul>
</body>
</html>
